@font-face {
  font-family: 'mplus-1p-thin';
  src: url('../fonts/mplus-1p-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'mplus-1p-regular';
  src: url('../fonts/mplus-1p-regular.ttf') format('truetype');
}

$font-small:    100%;
$font-meduim:   120%;
$font-large:    150%;
$font-xlarge:   200%;
$font-xxlarge:  250%;
$font-xxxlarge: 300%;
