@font-face {
  font-family: "mplus-1p-thin";
  src: url('../fonts/mplus-1p-thin.ttf') format("truetype");
}

$font-meduim:   120%;
$font-large:    150%;
$font-xlarge:   200%;
$font-xxlarge:  250%;
$font-xxxlarge: 300%;
