@import "compass";
@import "font";
@import "color";

@mixin white-link() {
  a:link, a:hover, a:visited {
    color: $white;
    text-decoration: none;
  }
}

body {
  background-color: $purple;
  font-family: "mplus-1p-thin";
  color: $white;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title__logo {
  width: auto;
  max-height: 150px;
  @include border-radius(100%);
}

.balloon {
  font-size: $font-xlarge;
  background-color: $white;
  color: $purple;
}

.title__heading {
  font-size: $font-xxxlarge;
}

.title__explanation {
  font-size: $font-meduim;
}

.partition-10 {
  margin: 10px 0;
}

.partition-20 {
  margin: 20px 0;
}

.intro,
.favorite {
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro__heading,
.wife__heading,
.favorite__heading,
.selection__heading,
.motto__heading,
.tools__heading {
  font-size: $font-xxlarge;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro__content {
  font-size: $font-xlarge;
}

.wife__content__name {
  font-size: $font-xlarge;
  color: $white;

  &:hover, &:visited {
    color: $white;
  }
}

.wife__content__picture {
  margin-top: 20px;
  margin-bottom: 20px;
  @include border-radius(10px);
}

.tabs__tab {
  border: solid 1px #FFF !important;
}

.tabs__tab {
  border: solid 1px #FFF !important;

  &:link, &:visited {
    color: $white;
  }
  &:hover {
    color: $purple;
  }
}

.tabs__tab__name {
  font-size: $font-meduim;
}

.favorite__item,
.selection__item,
.motto__item,
.tool__item {
  margin: 15px 0;
  padding: 10px;
  border: solid 1px #FFF;
  @include border-radius(10px);

  &:hover {
    @include box-shadow(0px 0px 20px $white);
  }
}

.tool__item {
  @include white-link();
}

.favorite__item__heading,
.selection__item__heading,
.motto__item__heading,
.tool__item__heading {
  font-size: $font-large;
  margin-bottom: 5px;
}

.favorite__item__content,
.selection__item__content,
.motto__item__content,
.tool__item__content {
  font-size: $font-meduim;
}

.motto__item__content__saying {
  font-size: $font-meduim;
}

.motto__item__content__source {
  font-size: $font-small;
}

.selection__explanation {
  font-size: $font-meduim;
  margin-bottom: 10px;
}

.footer {
  margin: 20px 10px;
  font-size: $font-meduim;

  @include white-link();
}
