@import "compass";
@import "font";
@import "color";

body.teo_timer {
  background-color: $dark-pink;
}

.teo-timer {
  margin: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  border: solid 1px #FFF;
  @include border-radius(10px);

  &.warning {
    background-color: lighten($dark-pink, 20%);
  }

  .teo-timer__logo {
    width: auto;
    max-height: 300px;
    @include border-radius(100%);
  }

  .teo-timer__timer {
    font-size: 1200%;
    font-weight: bold;
  }
}
