.tab-pane#mottos
  .row
    .col-md-12
      .motto__heading
        %i.fa.fa-graduation-cap
        %span= "座右の銘"

  - divided_mottos = divide_array(data.mottos, 2)

  .row
    - divided_mottos.each do |mottos|
      - mottos.each do |motto|
        .col-md-6
          = partial :motto, locals: { motto: motto }
