- klass = locals[:klass]
.selection__item
  .selection__item__heading
    - if klass
      %i{ class: klass }
    %span= title
  .selection__item__content
    .row
      - items = data.selections.send(items)
      .col-sm-12
        %ol
          - items.each do |item|
            %li= item