- tool = locals[:tool]

.tool__item
  = link_to tool[:link], class: 'tool__item__content', target: '_blank' do
    .tool__item__heading
      = tool[:title]
    .tool__item__content__explanation
      = tool[:explanation]
